{
  "exclude": [
    "\/types\/",
    ".*\\.js$",
    ".*\\.map$",
    ".*\\.d\\.ts$"
  ],
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      // typescript stage 3 decorator
      "decoratorVersion": "2022-03"
    },
    "target": "es2020",
    "paths": {
      "~/*": [
        "src/*"
      ]
    },
    "baseUrl": "."
  },
  "module": {
    "type": "es6",
    "strictMode": true,
    "resolveFully": true,
    "noInterop": true
  }
}
